{% extends 'seller_header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        span {
            color: red;
        }

        tr,
        td {
            padding: 5px;
        }

        fieldset {
            background-color: lightgrey;
        }

        legend {
            background-color: white;
            color: white;
            padding: 5px 5px;
        }

        input {
            margin: 5px;
        }
    </style>

    <title>Document</title>
</head>

<body>

    <center>
        <h1>Add Book</h1>
        {% if msg %}
        {{msg}}
        {% endif %}
        <form name="add_book" method="POST" action="{% url 'add_book' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <table>
                    <tr>
                        <td>Book Category</td>
                        <td>
                            <select name="book_category">
                                <option>---Select Book Category---</option>
                                <option value="python">Python</option>
                                <option value="java">Java</option>
                                <option value="php">PHP</option>
                                <option value="c">C</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Book Name</td>
                        <td><input type="text" name="book_name"></td>
                    </tr>

                    <tr>
                        <td>Book Price</td>
                        <td><input type="text" name="book_price"></td>
                    </tr>

                    <tr>
                        <td>Book Author</td>
                        <td><input type="text" name="book_author"></td>
                    </tr>

                    <tr>
                        <td>Book Description</td>
                        <td><textarea name="book_desc" cols="22" rows="5"></textarea></td>
                    </tr>

                    <tr>
                        <td>Book Image</td>
                        <td><input type="file" name=book_image></td>
                    </tr>

                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" name="submit" value="Add Book">
                        </td>
                    </tr>
                </table>

            </fieldset>
        </form>
    </center>
</body>

</html>
{% endblock %}