{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        span {
            color: red;
        }

        tr,
        td {
            padding: 10px;
        }

        fieldset {
            background-color: lightgrey;
        }
        
        legend {
            background-color: white;
            color: white;
            padding: 5px 10px;
        }

        input {
            margin: 5px;
        }
        hr{
            border-color: darkred;
            border-width: thin;
        }
    </style>

    <title>Document</title>
</head>

<body>
    
    <center>
        <h1>Contact Us</h1>
        {% if msg %}
        {{msg}}
        {% endif %}
        <form name="login" method="POST" action="{% url 'contact' %}">
        {% csrf_token %}
            <fieldset>
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="name" required="required"></td>
                </tr>
                
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" required="required"></td>
                </tr>

                <tr>
                    <td>Mobile</td>
                    <td><input type="text" name="mobile" required=" required"></td>
                </tr>

                <tr>
                    <td>Feedback</td>
                    <td><textarea name="feedback" cols="23" rows="5"></textarea></td>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" name="submit" value="Submit" class="btn btn-primary">
                    </td>
                </tr>

            </table>
            </fieldset>
        </form>
    </center>
    <hr style="border-style:groove ; border-width: 1px;" >
    <h1 style="background-color:lightgreen; text-align: center; color: black; font-family:'Times New Roman', Times, serif">Recent Feedback</h1>
    <hr style="border-style:groove ; border-width: 1px;" >
    {% for i in contacts %}
        <marquee Scrollamount="4" direction="left"><b><font style="color: red;">  Name </font></b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <b>{{i.name}}</b><br></marquee>
        <marquee Scrollamount="4" direction="left"><b><font style="color: red;"> Feedback </font></b> :  <b>{{i.feedback}}</b></marquee>
        <hr style="border-style:groove ; border-width: 1px;" >
    {% endfor %}    
</body>

</html>
{% endblock %}